body {
    background: rgb(135, 206, 250);
}



table {
    font-size: 21px;
    border: 1px solid #CCC;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
}

th {
    background-color: #104E8B;
    color: #FFF;
    font-weight: bold;
}

td:first-child {
    font-weight: bold
}

